<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Registration</title>
</head>
<body>
    <table border="1">
        <form action="" onsubmit='return formvalidation()'>
            <tr>
                <td colspan="3">
                   <h1>Employee</h1> 
                </td>
            </tr>
            <tr>
                <td>
                    Employee Name
                </td>
                <td>
                    <input type="text" name="name" id="name">
                </td>
            </tr>
            <tr>
                <td>
                    Contact No
                </td>
                <td>
                    <input type="text" name="Contact" id="contactno">
                </td>
            </tr>
           <tr>
                <td>
                    User Name
                </td>
                <td>
                    <input type="text" name="username" id="username">
                </td>
            </tr>
             <tr>
                <td>
                    Password
                </td>
                <td>
                    <input type="password" name="password" id="password">
                </td>
            </tr>
            
            
            <tr>
                <td colspan="2" align="right">
                    <button type="submit" onsubmit ="return formvalidation()">Registration</button>
                </td>
            </tr>
        </form>
    </table>
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>